.best__list{
    display: flex;

}

.best__item{
    flex: 1;
    margin-right: 36px;

    &:last-child{
        margin-right: 0;
    }
}

.best{
    background: url('../../img/bg/best.jpg') center center / cover no-repeat;
    
}