.feature__pic{
    display: flex;
    justify-content: center;
    margin-bottom: rem(10px);
    

    @include phones{
        margin-bottom: 0px;        
        width: rem(180px);
        
    }

}


.feature__desc{
    text-align: center;

    @include phones{
        text-align: left;
        flex: 1 1;
    }

    p {
        font-size: rem(14px);
        @include ubuntu($style: light);
    }

    h3 {
        @include lifehack();
        font-size: rem(24px);
        font-weight: 500;
        color: black;
        max-width: 100%;
    }
}
