.yandex-map {
    /*background: url("../../img/bg/map.jpg")  no-repeat;*/
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center center;
    height:100%;
}