.section-title{
    font-size: 72px;
    @include gagalin();
    margin-bottom: 50px;
    line-height: 1;
    color: $yellow;

    &--color-black{
        color: #2f3234;
    }

    &--centered {
        text-align: center;
    }
}